.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.formWrapper {
  background: #282a36;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;

}

.homePageLogo {
  height: 80px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.inputBox:focus {
  box-shadow: 0 0 0 2px #4aee88;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.joinBtn {
  background: #4aed88;
  width: 100px;
  margin: 0 auto;
}

.joinBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
}

.createNewBtn {
  color: #4aee88;
  text-decoration: none;
  border-bottom: 1px solid #4aee88;
  margin-left: 4px;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #2b824c;
  border-bottom: 1px solid #2b824c;
}

.mainWrap {
  display: flex;
  height: 100vh;
  color: #fff;
}

.aside {
  background: #282a36;
  width: 250px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.logo {
  padding: 10px;
  text-align: center;
}

.logoImage {
  height: 50px;
}

.clientsList {
  margin-top: 20px;
}

.client {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.userName {
  margin-top: 0;
}

.copyBtn,
.leaveBtn {
  margin-top: 20px;
  width: 100%;
}

.editorWrap {
  flex: 1;
  padding: 16px;
}